<html>
    <head>
        <link rel="stylesheet" href="/i/topbar.css">       	
        <link rel="shortcut icon" type="image/png" href="/p/bulb.png"/>
    </head>
        <div class="topnav">
            <img id="logo" src="/p/logo.png">
            {% if logout_url %}
                 <a href="{{logout_url}}">Sign Out</a>
                <a href="/">Upload</a>
                <a href="/images">My Notes</a>
                <a href="/all-images">All Notes</a>
            {% else %}
                <a href="{{login_url}}">Sign In</a>
            {% endif %}
        </div>
        {% if logout_url %}
        {% block bodycontent %}{% endblock %}
        {% else %}
        <div class="main">
            <img id="center" src="/p/logo.png">
        </div>
        <div class="main">
        Please sign in.
        </div>
        {% endif %}
        <img id="google" src="/p/goog.png">
</html>