{% extends "_base.html" %}
{% block bodycontent %}
<head>
    <link rel="stylesheet" href="/i/allimg.css">
    <title>Browse All Notes</title>
</head>
<div class="allimg">
<h2>All Notes</h2>
<link rel="stylesheet" href="/i/styles.css">
<input type="hidden" name="filter-content" value="all-notes"/>
<form method="post" action="/filter" >
    <select name="school-filter" id="view" onchange="this.form.submit()">
        <option value="All">All Schools</option>
        {% for school in schools %}
        <!--<option value="#{{image.key.urlsafe}}"{{school}}</option>-->
        <option value="{{school}}"{% if school == school_filter %}selected{% endif %}>{{school}}</option>
        {% endfor %}
    </select>
    <select name="name-filter" id="view" onchange="this.form.submit()">
        <option value="All">All Classes</option>
        {% for name in names %}
        <option value="{{name}}"{% if name == name_filter %}selected{% endif %}>{{name}}</option>
        {% endfor %}
    </select>
    <select name="professor-filter" id="view" onchange="this.form.submit()">
        <option value="All">All Professors</option>
        {% for professor in professors %}
        <option value="{{professor}}"{% if professor == professor_filter %}selected{% endif %}>{{professor}}</option>
        {% endfor %}
    </select>
    <!--<input type="submit">-->
</form>
<h5># Results: {{num_notes}}</h5>
</div>
{% for image in images %}
<div class="{{image.school}} % allimg">
    <img src="/img?id={{image.key.urlsafe}}&index=0&height=640&width=640"><br>
    <b>School: <b> {{image.school}}<br>
    <b>Class: </b> {{image.name}}<br>
    <a href="/image?id={{image.key.urlsafe}}">More Info</a>
    <form method="post" action="/add-like" >
        <input type="hidden" name="id" value="{{image.key.urlsafe}}"/>
        <br>
        <input type="submit" value="Likes: {{image.num_likes}}"/>
    </form>
</div>
{% empty %}
There are no notes.
{% endfor %}
{% endblock %}