{% extends "_base.html" %}
{% block bodycontent %}
<head>
    <title>Browse All Notes</title>
</head>
<h2>Notes</h2>
<link rel="stylesheet" href="/i/styles.css">
<script src="/i/script.js"></script>
<select id="view" onchange="toggleElement(this)">
<option value="All">All</option>
{% for image in images %}
<option value="#{{image.key.urlsafe}}">{{image.school}}</option>
{% endfor %}
</select>
<hr>
{% for image in images %}
<div class="{{image.school}}">
    <img src="/img?id={{image.key.urlsafe}}&width=320&height=320" border="0"><br>
    <b>School: <b> {{image.school}}<br>
    <b>Class: </b> {{image.name}}<br>
    <a href="/image?id={{image.key.urlsafe}}">More Info</a><br>
    <hr>
</div>
{% empty %}
There are no notes.
{% endfor %}
{% endblock %}