<title>Edit Profile Page</title>
    <style>
    body {
          background-image: url("https://wallpaperplay.com/walls/full/0/8/1/103341.jpg");
          height: 100%;
          background-repeat: no-repeat;
          background-size: cover;
    }
    h1 {
        color: white
    }
    </style>
 </head>
  <body>
      <h1>Edit Your Profile</h1>
      <form method= "post" action="/PutProfile" >
            Please enter a nickname:<br>
            <input type="text" name="user-nickname" value="enter nickname"><br>
            Please enter your school:<br>
            <input type= "text" name= "user-school" value="enter school">
            <br>
            <input type="submit" value="Go!">
    </form>
  </body>
</html>