{% extends "_base.html" %}
{% block bodycontent %}
<head>
    <title>Upload Note - Classnotes</title>
</head>
<h2>Upload a note</h2>
<form method="post" action="{{upload_url}}" enctype="multipart/form-data">
    Class:<br>
    <input name="name">
    <br><br><br>
    School:<br>
    <input name="school">
    <br><br><br>
    Professor:<br>
    <input name="professor">
    <br><br><br>
    Description:<br>
    <input name="description">
    <br><br><br>
    File:<br>
    <input type="file" name="file1">
    <br><br>
    <!--<input type="file" name="file2">
    <br><br><br>-->
    <input type="submit">
</form>
{% endblock %}
