{% extends "_base.html" %}
{% block bodycontent %}

<head>
    <title>{{image_name}}</title>
</head>
<form method="post" action="/save-edits">
<h3>Class: <input type="text" value="{{image_name}}"></h3>
<h3>School: <input type="text" value="{{image_school}}"></h3>
<h3>Professor: <input type="text" value="{{image_professor}}"></h3>
<h3>Description: <input type="text" value="{{image_description}}"></h3>
<input type="submit" value="Update"/>
</form>
<br><br>
<img src="/img?id={{image_id}}&height=320&width=320">
<br><br>
<form method="post" action="/delete" enctype="multipart/form-data">
<input type="hidden" name="id" value="{{image_id}}"/>
<input type="submit" value="Delete"/>
</form>
{% endblock %}

